# This workflow will install Python dependencies and build static call-graph

name: callgraph

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write
  issues: none

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt update
        python -m pip install git+https://github.com/Technologicat/pyan.git
        sudo apt install graphviz
    - name: Build static call-graph
      run: |
        python docs/build_callgraph.py
    - name: Check for Changes
      id: check_changes
      run: |
        if [[ -n "$(git diff --exit-code)" ]]; then
          echo "Changes detected."
          echo "::set-output name=has_changes::true"
        else
          echo "No changes detected."
          echo "::set-output name=has_changes::false"
        fi
    - name: Push to repository
    - uses: planetscale/ghcommit-action@v0.2.18
      if: steps.check_changes.outputs.has_changes == 'true'
      with:
          commit_message: "auto commit"
          repo: ${{ github.repository }}
          branch: ${{ github.head_ref || github.ref_name }}
      env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
